# Gradle files
.gradle/
**/build/
gradle/wrapper/gradle-wrapper.jar

# IDE files
.idea/
**/out/

# Specific build directories
/katas/build/*
/lambda/build/
/basics/build/
/concurrency/build/
/concurrency2/build/
/trees/build/
/nov2021/build/
/nov2022/build/
/mar2024/build/

# Output directories
**/out/
